* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(../Image/Background_Image.webp) no-repeat center center/cover;
  background-attachment: fixed;
  height: 100vh;
}

.outer-div {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
}

.inner-div {
  margin: 15px 0px 15px 0px;
  width: 70%;
  height: auto;
  background-color: #ffffff;
  padding: 0px 20px 0px 20px;
  transform: scale(1.2) skew(-20deg, 0deg);
  padding-top: 43px;
  padding-bottom: 43px;
  border-radius: 10px;
}

.inner-div-pic {
  float: left;
  shape-outside: circle();
}

.inner-div-pic>img {
  height: 150px;
  width: 150px;
  margin-right: 37px;
  object-fit: cover;
  border-radius: 100%;
}

.inner-div:hover img {
  filter: grayscale(0%) blur(3px);
}

.inner-div-pic,
.inner-div-cont {
  transform: skew(20deg, 0deg);
}

.inner-div-cont {
  shape-outside: circle(50%);
  width: 95%;
  margin: auto;
}

.inner-div img {
  transition: transform 1s, filter 2s ease-in-out;
  filter: blur(0px);
}

h3 {
  text-transform: uppercase;
  color: rgb(83, 77, 77);
  margin-top: 10px;
}

p {
  font-size: 22px;
  margin-top: 20px;
  color: rgb(112, 104, 104);
}

.img_discription {
  position: absolute;
  color: rgb(255, 255, 255);
  visibility: hidden;
  opacity: 0;
  font-weight: bold;
  transition: transform ease 300ms;
}

.inner-div:hover .img_discription {
  visibility: visible;
  opacity: 1;
  transform: translate(0, -20px);
}

.inner-div2 {
  margin-top: 5%;
}